
header{
    background-color: #D7EAFC;
    color: #214875;s
}

body{
    background-color: #ABCFDE;
}

.imagemdireita1{
    position: absolute;
    width: 666px;
    height: 600px;
    left: 1200px;
    top: 158px;
}

.tituloprincipal{
    font-size: 50px;
}

.cabesalho{
    position: absolute;
    width: 1500px;
    height: 114px;
}